body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.logo {
    width: 200px; /* Defina o tamanho adequado para a imagem */
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.login-box {
    background-color: #E0E0E0;
    border-radius: 30px;
    padding: 50px;
    margin: 50px;
    text-align: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-box p {
    margin: 0 0 20px;
    width: 80%;
    color: #707070;
    font-size: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 15px;
    text-align: center;
}

button {
    width: 50%;
    padding: 10px;
    background-color: #EC6200;
    color: #ffffff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}